.cart-heading{
    font-size: var(--font-size);
    padding : 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap:10px;
}

.cart-heading-list{
    position: relative;
}
.cart-heading-list.cart-cast-main{
    font-size: 2rem;
    font-weight: 600;
}


.cart__list-item{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
    gap: 10px;
    padding:20px 10px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.cart__list-item-img{
}


.cart__list-item-img img{
    width: 150px;
    height: 150px;
}

ul{
    padding:0px;
}

.cart__list-item-title li{
    margin-bottom: 20px;
}

.cart__list-item-price{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__list-item-price{
    color: var(--primary-color);
}

.cart__list-item-quantily{
    display: grid;
    place-items: center;
    position: relative;
}

.cart__list-item-count{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 30px 10px 10px ;
}

.cart__list-item-quantily i{
    position: absolute;
    right: 10px;
    border-left: 1px solid var(--border-color);
    
    padding: 7px;
    background-color: var(--white-color);
    opacity: 0;
}

.cart__list-item-delete-btn span{
    cursor: pointer;
}

.cart__list-item-delete-btn span:hover{
    text-decoration: underline;
}


.cart__list-item-delete-btn{
    display: grid;
    place-items: center;
}

.cart-total-box{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 30px 20px; 
    background-color: var(--hover-color1);
    margin-left: 50px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
}

.cart-total-title{
    font-size: 2rem;
    margin-bottom: 30px;
}

.cart-detail-box{
    background-color: var(--white-color);
    width: 100%;
    padding: 0 20px;
    display: grid;
    place-items: center;
}

.cart-detail{
    padding: 30px 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.cart-detail:not(:nth-last-child(1)){
    border-bottom: 1px solid var(--border-color);
}

.cart-detail-total-titletext{
    display: flex;
    gap:5px;
}

.cart-detail-total-title,
.cart-detail-total-price{
    font-size: 2rem;
    
}

.cart-detail-total-tax{
    font-size: var(--font-size);
}

.cart-total-account{
    margin-top:30px;
}
/*<-----------------------PAY-FORM--------------------------------START*/
#cart__pay-form,#payment-form{
    background-color: var(--hover-color1);
    padding:30px;
}
#payment-form{
    padding-bottom: 0;
    transition: height 0.2s ease;
    height: 514px;
    z-index: 0;
}

#cart__pay-form{
    margin-bottom: 30px;
}

.cart__pay-form-title,
.payment-form-title{
    font-size: var(--font-size);
    padding-bottom: 10px;
}
#cart__pay-form .row,
#payment-form .row{
    border-bottom: 1px solid var(--border-color);
    padding: 10px 0 20px;
}

#cart__pay-form label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}
.input-group{
    font-size: var(--font-size);
    align-items: center;
    margin-bottom: 0;
}


.input-group label{
    font-size: 2rem;
    font-weight: 600;
    line-height: 40px;
    margin-right: 10px;
}

.required_label{
    width:auto ;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1px 5px;
    height: 20px;
    line-height:19px;
}

.pay-form-input{
    width: 100%;
    padding: 0 15px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    outline-color: var(--primary-color);
}

.input_zip-code-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap:10px;
}

.pay-form-input_zip-code{
    width: 70%;
}
.zip-code-checkBtn{
    padding: 0 10px;
    width: 30%;
    border-radius: 20px;
}

input[type="radio"]{
    margin-right: 5px;
    width: 30px;
}

#payment-form.form-close{
    height: 266px;
    overflow: hidden;
}

#payment-form label{
    width: 90%;
}

.close-formBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
    width: 100%;
    background-color: var(--hover-color1);
    padding: 30px 0 50px;
    z-index: 1;
}
.close-formBtn i{
    margin-left: 10px;
}






/*<-----------------------PAY-FORM-------------------------------->END*/

