/* Mobile and Tablet */
@media (max-width:1023px){
    .header{
        background-color: var(--white-color);
    }
    .header__navbar-user span,
    .header__navbar-support span{
        display: none;
    }
    .header__navbar li:hover{
        transform: scale(1);
        background-color: inherit;
        color: inherit;
    }
    .grid.wide{
        width: 100%;
    }
    .header__search{
        display: none;
    }
    .header-category-box {
        display: block;
    }

}

@media(min-width :740px) and (max-width :1023px){
}


/* Mobile */
@media(max-width :739px){
    .header{
        position: fixed;
    }
    .header__search{
        display: none;
        position: absolute;
        left: 42%;
        translate: -50%;
    }
    .header-category-box{
        display:block;
        width: 50px;
        text-align: center;
    }
    .header-category-box i{
        font-size: 1.5rem;
    }
    .logo-img{
        width: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
    .header__navbar{
        font-size: 1.5rem;
        gap:0;
        padding: 0 10px;
        
    }
    .header .grid.wide{
        height: 60px;
        position: relative;
    }
    .header__navbar li{
        padding:7px;
    }
    .header__navbar-support{
        display: none;
    }
    .header__navbar-cart-count{
        font-size: 1rem;
    }
    
    /* CATEGORY BOX */

    
    .category_list-item{
        font-size: var(--font-size);
    }


    .category__list-img{
        padding-left: 20px;
    }

    .category-item{
        padding: 0;
        margin: 20px 0;
        text-align: center;
    }
    .category-item a {
        width: 110px;
        height: 110px;
    }
    .category-item-title {
        bottom: -22px;
    }
    .category-box-closeBtn{
        position: absolute;
        top:0px;
        right: -45px;
        font-size: 2.5rem;
        padding: 10px 15px;
        background-color: var(--black-color);
        color: var(--white-color);
    }
    .category-box-closeBtn i{
        font-size: 2rem;
    }
    /* Sort Item */
    .sort__item {
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative;
    }
    .sort__item-img {
        height: auto;
    }
    .sort__item-title{
        display: block;
    }
    .sort__item-takeit{
        justify-content: space-between;
        padding: 0 20px;
    }
    .section__recommend-list{
        margin-left: 4px;
        margin-right: 4px;
    }
    .sort__item-img_btn-left,
    .sort__item-img_btn-right {
        top: 15%;
    }
    .sort__item-img_btn-left{
        left:3px;
    }
    .sort__item-img_btn-right{
        right:3px;
    }
    .sort__item-brand{
        margin-top: 0;
    }
    .sort__item-text{
        margin: 0;
    }
    .sort__item-content{
        margin: 0;
    }
    .sort__item-star{
        font-size: 1rem;
    }
    /* Cart select box */
    .item__select-cart-box{
        margin: 30px;
        width: 80%;
        height: 80%;
        font-size: 1rem;
    }
    .select-cart-box-content{
        width:100%;
    }
    .select-cart-box-content .row{
        width: 100%;
        
    }.item-checklist-name{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .item-checklist-imglist-item{
        height: 100%;
    }
    .item-checklist-price{
        margin: 10px 0;
    }
    .item-checklist-brand{
        margin-top: 10px;
    }
    .item-checklist-imglist{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .item-checklist-color{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .item-checklist-size{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .item-checklist-takecart-btn{
        margin-top: 0;
    }
    /* Footer */
    .footer{
        padding: 30px 10px 10px;
    }
}